h1{
	color: yellow;
	text-decoration: overline;

}
/*Css selectors*/
/*Element selector* e.g p,h1*/
p{  }
/* universal selector */
*{
	font-weight: bold;
}
/* id selector :#secondpar */
#secondpar{
	color: midnightblue;
}
/* class selector */
.firstclass{
	font-size: 20px;
	font-style: italic;
}
p.firstclass{
	
}
/* grouping selector */
h2,p{
	color: yellow;

}
h2{

	text-align: center;
}
/* descendant selector */
div a{ 
	color: green;
 }
